In [1]:
import numpy as np
import pandas as pd

### 1. How to create a series from a list, numpy array and dict?

In [8]:

# create series from list
list1=[1,2,3,4,5]
seris=pd.Series(list1)
print(seris)

# create  series from array 
arr=np.array([1,2,3,4,5])
s2=pd.Series(arr)
print(s2)


# create series from dict
dict1={'a':1,'b':2,'c':3,'d':4}
s3=pd.Series(dict1)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int32
a    1
b    2
c    3
d    4
dtype: int64

###  2. How to convert the index of a series into a column of a dataframe?

In [9]:

index1=s3.reset_index()
index1

  index  0
0     a  1
1     b  2
2     c  3
3     d  4

### 3.How to combine many series to form a dataframe?

In [11]:

seri1=pd.Series([1,2,3,4,5])  # create series and convert into datafream
seri2=pd.Series([6,7,8,9,10])
df=pd.DataFrame({'series1':seri1,'series2':seri2})
print(df)

   series1  series2
0        1        6
1        2        7
2        3        8
3        4        9
4        5       10

In [14]:
# 4.How to assign name to the seriesâ€™ index?
s3.index.name='new name'
s3

new name
a    1
b    2
c    3
d    4
dtype: int64

### 5.How to get the items of series A not present in series B?

In [20]:

s1=pd.Series([1,2,3,4,5])   # create series and use isin
s2=pd.Series([5,6,7,8,9])
not_in=s1[~s1.isin(s2)]
not_in

0    1
1    2
2    3
3    4
dtype: int64

###  6. How to get the items not common to both series A and series B?

In [21]:

not_com=s1[~s1.isin(s2)]+s2[~s2.isin(s1)] 
# use the isin() function with the negation operator (~) on both Series
not_com

0     NaN
1     8.0
2    10.0
3    12.0
4     NaN
dtype: float64

In [31]:
# 7.How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
series=pd.Series([1,2,3,4,5,6,7,8])
stats=series.describe()
perc_25=stats['25%']
print(perc_25)
min1=stats['min']
print(min1)
med1=stats['50%']
print(med1)
per_75=stats['75%']
print(per_75)
max1=stats['max']
print(max1)

2.75
1.0
4.5
6.25
8.0

In [29]:
num=pd.Series([1,3,7,8])
n=np.percentile(num,q=[0,25,50,75,100])
print(n)

[1.   2.5  5.   7.25 8.  ]

In [32]:
# 8. How to get frequency counts of unique items of a series?
frq_c=num.value_counts()
frq_c

1    1
3    1
7    1
8    1
dtype: int64

In [34]:
#9.How to keep only top 2 most frequent values as it is and replace everything else as â€˜Otherâ€™?
num1=pd.Series([1,1,3,4,5,6,6,7])
freq=num1.value_counts().index[:2]
replace=num1.replace(~num1.isin(freq),'Other')
print(replace)

ValueError: Series.replace cannot use dict-like to_replace and non-None value

In [37]:
num_series = pd.Series(np.random.randint(1, 5, [15]))

print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

0     1
1     2
2     4
3     4
4     4
5     1
6     1
7     2
8     1
9     2
10    1
11    3
12    2
13    1
14    1
dtype: int32
Top 2 Freq: 1    7
2    4
4    3
3    1
dtype: int64
0         1
1     Other
2     Other
3     Other
4     Other
5         1
6         1
7     Other
8         1
9     Other
10        1
11    Other
12    Other
13        1
14        1
dtype: object

In [39]:
# 10 How to bin a numeric series to 10 groups of equal size?
numeric_s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
bins = pd.cut(numeric_s, bins=10)      # Bin the numeric series into 10 groups of equal size
print(bins)

0    (0.991, 1.9]
1      (1.9, 2.8]
2      (2.8, 3.7]
3      (3.7, 4.6]
4      (4.6, 5.5]
5      (5.5, 6.4]
6      (6.4, 7.3]
7      (7.3, 8.2]
8      (8.2, 9.1]
9     (9.1, 10.0]
dtype: category
Categories (10, interval[float64, right]): [(0.991, 1.9] < (1.9, 2.8] < (2.8, 3.7] < (3.7, 4.6] ... (6.4, 7.3] < (7.3, 8.2] < (8.2, 9.1] < (9.1, 10.0]]

In [41]:
# 11. How to convert a numpy array to a dataframe of given shape?
# Create a numpy array
arr = np.array([1, 2, 3, 4, 5, 6])

# Reshape the numpy array to the desired shape
reshaped_ary = np.reshape(arr, (2, 3))

# Convert the reshaped array to a DataFrame
df = pd.DataFrame(reshaped_ary)
print(df)

   0  1  2
0  1  2  3
1  4  5  6

In [44]:
# 12. How to find the positions of numbers that are multiples of 3 from a series?
# Create a series
series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Find the positions of numbers that are multiples of 3
pos = series.where(lambda x: x % 3 == 0).dropna().index

print(pos)

Int64Index([2, 5, 8], dtype='int64')

In [46]:
# 13. How to extract items at given positions from a series
# Create a series
series = pd.Series(['A', 'B', 'C', 'D', 'E'])

# Define the positions of items to extract
pos = [0, 2, 4]

# Extract items at given positions
extrac = my_series[pos]
print(extrac)

0    1
2    3
4    5
dtype: int64

In [47]:
# Create a series
series = pd.Series([1,2,3,4,5,6])

# Define the positions of items to extract
pos = [0, 2, 4]

# Extract items at given positions
extrac = my_series[pos]
print(extrac)

0    1
2    3
4    5
dtype: int64

In [49]:
# 14.How to stack two series vertically and horizontally ?
# Create two series
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([5,6,6,7])

# Stack series vertically
verti = pd.concat([s1, s2], axis=0)

# Stack series horizontally
horizon = pd.concat([s1, s2], axis=1)
print(verti)
print(horizon)

0    1
1    2
2    3
3    4
0    5
1    6
2    6
3    7
dtype: int64
   0  1
0  1  5
1  2  6
2  3  6
3  4  7

In [52]:
# 15.How to get the positions of items of series A in another series B?
positions = s1[s1.isin(s2)].index
print(positions)

Int64Index([], dtype='int64')

In [55]:
# 16.How to compute the mean squared error on a truth and predicted series?
from sklearn.metrics import mean_squared_error
actual=[1,1,2,3,4]
pred=[0.5,0,8,1.9,1.99]

# Compute the mean squared error
mse = mean_squared_error(actual, pred)
print(mse)

8.500020000000001

In [57]:
# 17.How to convert the first character of each element in a series to uppercase?
ser=pd.Series(['priya','rah','sam','ram']) # create series
cap=ser.str.capitalize()                   # convert first of each element uppercase
print(cap)

0    Priya
1      Rah
2      Sam
3      Ram
dtype: object

In [58]:
# 18.How to calculate the number of characters in each word in a series?
# Create a series
series = pd.Series(['apple', 'banana', 'cherry'])

# Calculate the number of characters in each word
word_len = series.str.split().str.len()
print(word_len)

0    1
1    1
2    1
dtype: int64

In [61]:
# 19.How to compute difference of differences between consequtive numbers of a series?
# Create a series
series = pd.Series([1, 3, 6, 10, 15, 21])

# Compute the difference of differences
diff = series.diff().diff()
print(diff)

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64

In [63]:
# 20. How to get the day of month, week number, day of year and day of week from a series of date strings?
# Create a series of date strings
date_series = pd.Series(['2023-06-09', '2023-06-10', '2023-06-11','2023-05-1'])

# Convert the series to datetime
date_series = pd.to_datetime(date_series)
print(date_series)

# Extract the day of the month
day_of_month = date_series.dt.day
print(day_of_month)
# Extract the week number
week_number = date_series.dt.week
print(week_number)

# Extract the day of the year
day_of_year = date_series.dt.dayofyear
print(day_of_year)

# Extract the day of the week
day_of_week = date_series.dt.dayofweek
print(day_of_week)

0   2023-06-09
1   2023-06-10
2   2023-06-11
3   2023-05-01
dtype: datetime64[ns]
0     9
1    10
2    11
3     1
dtype: int64
0    23
1    23
2    23
3    18
dtype: int64
0    160
1    161
2    162
3    121
dtype: int64
0    4
1    5
2    6
3    0
dtype: int64

C:\Users\CITS\AppData\Local\Temp\ipykernel_5856\971267323.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  week_number = date_series.dt.week

In [65]:
# 21.How to filter words that contain atleast 2 vowels from a series?
word = pd.Series(['latur', 'pune', 'cherry', 'dog', 'cat'])

# Filter words with at least 2 vowels
filtr = word[word.str.contains('[aeiou].*[aeiou]')]
print(filtr)

0    latur
1     pune
dtype: object

In [67]:
# 22.How to filter valid emails from a series?
# Create a series of emails
email= pd.Series(['priya@gmail.com', 'pi@eam.com', 'invalid', 'test@test.com'])

# Filter valid emails
filtered = email[email.str.contains(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$')]
print(filtered)

0    priya@gmail.com
1         pi@eam.com
3      test@test.com
dtype: object

In [71]:
# 23.How to get the mean of a series grouped by another series?
# Create a DataFrame
data = {'place': ['latur','pune','mumbai'],
        'Value': [1, 2, 3]}
df = pd.DataFrame(data)

# Get the mean of the 'Value' column grouped by the 'Category' column
mean = df.groupby('place')['Value'].mean()
print(mean)

place
latur     1.0
mumbai    3.0
pune      2.0
Name: Value, dtype: float64

In [74]:
# 24. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
# Create a DataFrame
# Create a DataFrame
data = {'place': ['latur','pune','delhi'],
        'id': [1,2,3],
        'pass': [7, 8, 9]}
df = pd.DataFrame(data)

# Get the number of rows and columns
num_rows, num_columns = df.shape
print(num_rows,num_columns)

# Get the data types of each column
types = df.dtypes
print(types)


# Get the summary statistics
stats = df.describe()
print(stats)


# Get the array 
array = df.values
print(array)

# Get the list 
list1 = df.values.tolist()
print(list1)

3 3
place    object
id        int64
pass      int64
dtype: object
        id  pass
count  3.0   3.0
mean   2.0   8.0
std    1.0   1.0
min    1.0   7.0
25%    1.5   7.5
50%    2.0   8.0
75%    2.5   8.5
max    3.0   9.0
[['latur' 1 7]
 ['pune' 2 8]
 ['delhi' 3 9]]
[['latur', 1, 7], ['pune', 2, 8], ['delhi', 3, 9]]

In [78]:
# 25.How to extract the row and column number of a particular cell with given criterion?

# Create a DataFrame
data = {'place': ['latur','pune','delhi'],
        'id': [1,2,3],
        'pass': [7, 8, 9]}
df = pd.DataFrame(data)



# Specify the criterion
criterion = df['id'] > 2

# Extract the row and column number given criterian
row, column = df.loc[criterion].index[0], df.columns.get_loc('id')
print(row,column)

2 1

In [79]:
# 26. How to rename a specific columns in a dataframe?
# Create a DataFrame
data = {'place': ['latur','pune','delhi'],
        'id': [1,2,3],
        'pass': [7, 8, 9]}
df = pd.DataFrame(data)

# Rename the 'Column2' to 'NewColumn'
df = df.rename(columns={'id': 'NewColumn'})
print(df)

   place  NewColumn  pass
0  latur          1     7
1   pune          2     8
2  delhi          3     9

In [83]:
# 27.How to count the number of missing values in each column?
data = {'place': ['latur','pune','delhi',None],
        'id': [1,2,3,None],
        'pass': [7, 8, 9,None]}
df = pd.DataFrame(data)
df2=df.isnull().sum()
print(df2)

place    1
id       1
pass     1
dtype: int64

In [86]:
# 28.How to replace missing values of multiple numeric columns with the mean?
df3=df.fillna(df.mean())
print(df3)

   place   id  pass
0  latur  1.0   7.0
1   pune  2.0   8.0
2  delhi  3.0   9.0
3   None  2.0   8.0

C:\Users\CITS\AppData\Local\Temp\ipykernel_5856\4154673837.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3=df.fillna(df.mean())

In [87]:
# 29.How to select a specific column from a dataframe as a dataframe instead of a series?
df3['place']  # select place column from df

0    latur
1     pune
2    delhi
3     None
Name: place, dtype: object

In [89]:
# 30. How to format or suppress scientific notations in a pandas dataframe?
# Create a DataFrame
data = {'C1': [1.2345, 2.3458, 3.4545],
        'C2': [4.5677, 5.6789, 6.7890]}
df = pd.DataFrame(data)

# Set the display format
pd.options.display.float_format = '{:.2f}'.format

# Display the DataFrame
print(df)

    C1   C2
0 1.23 4.57
1 2.35 5.68
2 3.45 6.79

In [92]:
# 31. How to create a primary key index by combining relevant columns?
data = {'place': ['latur','pune','delhi',None],
        'id': [1,2,3,None],
        'pass': [7, 8, 9,None]}
df = pd.DataFrame(data)

# Combine 'Column2' and 'Column3' to create a primary key index
df.set_index(['id', 'pass'])
print(df)

   place   id  pass
0  latur 1.00  7.00
1   pune 2.00  8.00
2  delhi 3.00  9.00
3   None  NaN   NaN

In [97]:
# 32.How to get the row number of the nth largest value in a column?
# Create a DataFrame
data2 = {'marks': [35, 45, 70, 80, 50]}
df2 = pd.DataFrame(data2)

#  2nd largest value in 'marks'
n = 2
row_n = df2['marks'].nlargest(n).index[-1]
print(row_n)
print(df2)

2
   marks
0     35
1     45
2     70
3     80
4     50

In [98]:
# 33.How to get the last n rows of a dataframe with row sum > 100?
data = {'num': [10, 20, 30, 40, 50],
        'marks': [60, 70, 80, 90, 100]}
d = pd.DataFrame(data)

# last n rows with row sum greater than 100
n = 2
filtered = d[d.sum(axis=1) > 100].tail(n)
print(filtered)

   num  marks
3   40     90
4   50    100

In [101]:
# 34.How to create a new column that contains the row number of nearest column by euclidean distance?
data = {'num': [1,2,3],
        'marks': [4,5,6],
       'n':[7,8,9]}
d = pd.DataFrame(data)

df['NearestColumn'] = df.apply(lambda row: np.argmin(np.linalg.norm(row - df.values, axis=1)), axis=1)

ValueError: Length of values (5) does not match length of index (1)

In [ ]:
# 35.What are lists and tuples

# Lists and tuples are both sequence data types in Python.
# They can contain elements of different types and are used to store collections of items. 
# The main difference between lists and tuples is that lists are mutable (can be modified), 
# while tuples are immutable. Lists are defined using square brackets [] and tuples are defined using parentheses ().

In [ ]:
# 36.What is slicing

# Slicing is a technique used to extract a subset of elements from a sequence, such as a list, tuple, or string, based on their indices.
# It allows you to retrieve a contiguous portion of the sequence by specifying the start, end, and step size. The syntax for slicing is sequence[start:end:step], where start is the starting index (inclusive), 
# end is the ending index, and step is the step size between elements.

In [ ]:
# 37. What is map and reduce
# Map and reduce are functions provided by the functools module in Python. 
# The map() function applies a given function to each element of an iterable (such as a list) and returns an iterator with the results. It is a convenient way to perform a transformation operation on each element of a sequence. 
# The reduce() function applies a function of two arguments cumulatively to the elements of an iterable, reducing it to a single value. It is typically used for operations that involve aggregating or combining the elements of a sequence.

In [ ]:
# 38.What are lambda functions
# Lambda functions, also known as anonymous functions, are small, one-line functions that do not require a separate function definition. 
# They are defined using the lambda keyword, followed by the input arguments and a single expression. Lambda functions are often used in conjunction with functions like map(), filter(), and reduce() to provide a concise way of defining simple functions on the fly.

In [ ]:
# 39.What are global variables
# Global variables are variables that are defined outside of any function and can be accessed from anywhere within the program. 
# They have a global scope and can be used by multiple functions. However,
# modifying global variables within a function requires using the global keyword to explicitly indicate that the variable being modified is the global one.

In [ ]:
# 40.What are the different ways in which we can combine dataframes.

# ans:  Concatenation: Use the concat() function to concatenate DataFrames vertically or horizontally based on the axis parameter.

# Merging: Use the merge() function to merge DataFrames based on common columns or indices.

# Joining: Use the join() function to join DataFrames based on the index.

# Appending: Use the append() function to append one DataFrame to another vertically.

# Combining: Use the combine_first() function to combine DataFrames, filling missing values in one DataFrame with values from another DataFrame.

In [ ]:
# 41.How is memory managed in python

# ans:  memory management is handled automatically through a mechanism called reference counting. 
# Each object in memory has a reference count that keeps track of the number of references to that object.
# When an object's reference count reaches zero, meaning no references point to it, 
# the memory allocated to that object is automatically freed by the Python interpreter's garbage collector.

In [ ]:
# 42.Is indentation required in python

# Yes, indentation is required in Python. many other programming languages, Python uses indentation to define the structure and scope of code blocks. 
# Indentation is used to group statements together and determine which statements belong to a specific block of code,such as a function, loop, or conditional statement. 
# Proper indentation is crucial in Python because it affects the readability and functionality of the code.

In [ ]:
# 43.Difference between python arrays and lists

# The main difference between Python arrays and lists is that arrays can only store elements of the same data type,
# while lists can store elements of different data types. Arrays in Python are implemented through the array module and 
# provide a more memory-efficient way to store and manipulate homogeneous data. 
# Lists, on the other hand, are a built-in data type in Python and offer more flexibility since they can contain elements of different types and are mutable.

In [ ]:
# 44. What is __init


# __init__ is a special method in Python classes that serves as a constructor.
# It is automatically called when an object is created from a class. 
# The __init__ method is used to initialize the attributes (or properties) of an object. It takes the self parameter, 
# which represents the instance of the object being created, and any additional parameters needed to initialize the object's attributes

In [ ]:
# 45.What is .iloc

# .iloc is a pandas indexing attribute used to access and manipulate data in a DataFrame using integer-based indexing. 
# It allows you to select specific rows and columns based on their integer positions.
# example, df.iloc[2:5, 1:3] will select rows 2 to 4 and columns 1 to 2 of the DataFrame df.

In [ ]:
# 46. What data structures are supported in pandas?

# Pandas supports various data structures, including:

# Series: A one-dimensional labeled array capable of holding any data type.

# DataFrame: A two-dimensional labeled data structure with columns of potentially different types. 
# It is similar to a table in a relational database or a spreadsheet.

In [ ]:
# 47.How do you drop duplicates in pandas dataframe?.

# To drop duplicates in a pandas DataFrame,use the drop_duplicates() method.

In [110]:
# 48. Write a code to find common rows between 2 dataframes, df1 & df2.
d=[1,2,3,4,5]
df=pd.DataFrame(d,columns=['marks'])
print(df)
d2=[34,45,56,78,88]
df2=pd.DataFrame(d2,columns=['marks'])
print(df2)
m=pd.merge(df,df2 ,how='inner')
print(m)

   marks
0      1
1      2
2      3
3      4
4      5
   marks
0     34
1     45
2     56
3     78
4     88
Empty DataFrame
Columns: [marks]
Index: []

In [111]:
# 49.Write a code to find un-common rows between 2 dataframes, df1 & df2

uncommon = pd.merge(df, df2, how='outer', indicator=True)
# specify the 'on' parameter
uncommon= uncommon[uncommon['_merge'] != 'both']
print(uncommon)

   marks      _merge
0      1   left_only
1      2   left_only
2      3   left_only
3      4   left_only
4      5   left_only
5     34  right_only
6     45  right_only
7     56  right_only
8     78  right_only
9     88  right_only

In [ ]:
# 50. How will you perform a left join between 2 dataframes

# specify how='left'
left_j=pd.merge(df,df2,how='left')
print(left_j)

In [112]:
# 51. What function is used to find the number of rows and columns in a dataframe
rows,col=df.shape   # using shape
print(rows)
print(col)

5
1

In [114]:
# 52. How will you create an empty dataframe in pandas

# Create an empty DataFrame with column names
df = pd.DataFrame(columns=['Col', 'Col2', 'Col3'])

# Print the empty DataFrame
print(df)

Empty DataFrame
Columns: [Col, Col2, Col3]
Index: []

In [ ]:
# 53. What is reindexing in pandas

# Reindexing in pandas refers to the process of creating a new object with the data conformed to a new index. 
# It allows you to change the index labels of a Series or DataFrame.

In [115]:
# 54.How to get the items of series A not present in series B?

seri1=pd.Series([1,2,3,4,5])  # create series and convert into datafream
seri2=pd.Series([6,7,8,9,10])

not_in = seri1[~seri1.isin(seri2)]

# Print the items not present in Series B
print(not_in)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [117]:
# 55. How to get the items of series A not present in series B?

freq = seri1.value_counts()

# Print the frequency counts
print(freq)

1    1
2    1
3    1
4    1
5    1
dtype: int64

In [118]:
# 56.How will you write a dataframe in excel


df.to_excel('output.xlsx', index=False)

1    1
2    1
3    1
4    1
5    1
dtype: int64

In [119]:
# 57.Write a Python program to check if a given number is even or odd.
n=10
if n%2==0:
    print('even')
else:
    print('odd')

even

In [120]:
# 58. Write a Python script to add a key to a dictionary.

my_dict = {'key1': 12, 'key2': 34}

# Adding a new key-value pair
my_dict['key3'] = 35

# Updating an existing key-value pair
my_dict['key1'] = 88

# Print the updated dictionary
print(my_dict)

{'key1': 88, 'key2': 34, 'key3': 35}

In [121]:
# 59.Write a Python program to combine two dictionary adding values for common keys

def combine(dict1, dict2):
    combined_dict = dict1.copy()

    for key, value in dict2.items():
        if key in combined_dict:
            combined_dict[key] += value
        else:
            combined_dict[key] = value

    return combined_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}
combined_dict = combine(dict1, dict2)
print(combined_dict)

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [124]:
# 60. Write a Python function to find the sum of all even numbers in a given range.
sum=0
for i in range(1,20):
    if i%2==0:
        sum=sum+i
print(sum)

90

In [125]:
# 61.Write a Python script to sort (ascending and descending) a dictionary by value

def sort(dictionary, descending=False):
    sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[1], reverse=descending))
    return sorted_dict

# Example usage
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}
ascending = sort(my_dict)
descending = sort(my_dict, descending=True)
print(ascending)
print(descending)

{'b': 5, 'a': 10, 'd': 15, 'c': 20}
{'c': 20, 'd': 15, 'a': 10, 'b': 5}

In [127]:
# 64. Write a Python script to add a key to a dictionary.

def add(dict1, key, value):
    dict1[key] = value
    return dict1

my_dict = {'a': 10, 'b': 20}
updated = add(my_dict, 'c', 30)
print(updated)

{'a': 10, 'b': 20, 'c': 30}

In [128]:
# 63. Write a Python program to find the greatest common divisor (GCD) of two given numbers.
def gcd(num1, num2):
    while num2 != 0:
        num1, num2 = num2, num1 % num2
    return num1


num = 24
num = 36
result = gcd(num, num)
print(result)

36

In [129]:
# 64.Write a Python program to remove duplicates from Dictionary.

def remove(dict1):
    unique_dict = {}
    for key, value in dict1.items():
        if value not in unique_dict.values():
            unique_dict[key] = value
    return unique_dict

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
result_dict = remove(my_dict)
print(result_dict)

{'a': 1, 'b': 2, 'd': 3}

In [130]:
# 65.Write a Python program to check if a specific Key and a value exist in a dictionary.

def check(dict1, key, value):
    if key in dict1 and dict1[key] == value:
        return True
    else:
        return False

my_dict = {'a': 1, 'b': 2, 'c': 3}
result = check(my_dict, 'b', 2)
print(result)

True

In [131]:
# 66.Write a Python program to combine two dictionary adding values for common keys

def combine(dict1, dict2):
    combined_dict = dict1.copy()

    for key, value in dict2.items():
        if key in combined_dict:
            combined_dict[key] += value
        else:
            combined_dict[key] = value

    return combined_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}
combined_dict = combine(dict1, dict2)
print(combined_dict)

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [132]:
# 67. Write a Python program to get the total length of all values of a given dictionary with string values

def len1(dict1):
    total_length = 0
    for value in dict1.values():
        if isinstance(value, str):
            total_length += len(value)
    return total_length

# Example usage
my_dict = {'a': 'kk', 'b': 'csk', 'c': 'Python'}
result = len1(my_dict)
print(result)

11

In [133]:
# 68. Write a Python program to create a key-value list pairing in a given dictionary.

def pair(dict1):
    paired_list = [(key, value) for key, value in dict1.items()]
    return paired_list

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 3}
result_list = pair(my_dict)
print(result_list)

[('a', 1), ('b', 2), ('c', 3)]

In [134]:
# 69. Write a Python program to convert a given list of lists to a dictionary.

def list_to_dict(lst):
    dict1 = {}
    for sublist in lst:
        key = sublist[0]
        value = sublist[1:]
        dict1[key] = value
    return dict1

# Example usage
my_list = [['a', 1], ['b', 2], ['c', 3]]
result_dict = list_to_dict(my_list)
print(result_dict)

{'a': [1], 'b': [2], 'c': [3]}

In [136]:
# 70. Write a Python program to extract values from a given dictionaries and create a list of lists from those values.

def extract_val(dict1):
    result_list = []
    for dict1 in dict1:
        values = list(dict1.values())
        result_list.append(values)
    return result_list


my_d = [{'a': 1, 'b': 2}, {'x': 10, 'y': 20}]
result_list = extract_val(my_d)
print(result_list)

[[1, 2], [10, 20]]

In [137]:
# 71. Write a Python program to count the frequency in a given dictionary.

from collections import Counter

def count_freq(dict1):
    freq = Counter(dict1.values())
    return freq

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
result_frequency = count_freq(my_dict)
print(result_frequency)

Counter({1: 2, 2: 2, 3: 1})

In [139]:
# 72. Write a Python program to find the specified number of maximum values in a given dictionary.
 
def find_max(dict1, num):
    sorted_values = sorted(dict1.values(), reverse=True)
    max_values = sorted_values[:num]
    return max_values

# Example usage
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
result_max_values = find_max(my_dict, 3)
print(result_max_values)

[50, 40, 30]

In [140]:
# 73.Write a Python program to get all combinations of key-value pairs in a given dictionary.

from itertools import combinations

def get_comb(dict1):
    comb = list(combinations(dict1.items(), 2))
    return comb

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 3}
result_combinations = get_comb(my_dict)
print(result_combinations)

[(('a', 1), ('b', 2)), (('a', 1), ('c', 3)), (('b', 2), ('c', 3))]

In [141]:
# 74.Write a Python program to filter even numbers from a given dictionary values.

def filter_evn(dict1):
    filtered_dict = {}
    for key, value in dict1.items():
        if isinstance(value, int) and value % 2 == 0:
            filtered_dict[key] = value
    return filtered_dict

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
filtered_dict = filter_evn(my_dict)
print(filtered_dict)

{'b': 2, 'd': 4}

In [143]:
# 75. Write a Python program to store a given dictionary in a json file

import json

def store_jsn( dict1, filename):
    with open(filename, 'w') as file:
        json.dump(dict1, file)

# Example usage
my_dict = {'name': 'p', 'age': 30, 'city': 'latur'}
store_jsn(my_dict, 'data.json')

In [144]:
# 76. Write a Python program to match key values in two dictionaries.

def match_key(dict1, dict2):
    matching_keys = []
    for key in dict1:
        if key in dict2 and dict1[key] == dict2[key]:
            matching_keys.append(key)
    return matching_keys


dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'a': 1, 'b': 5, 'd': 4}
matching_keys = match_key(dict1, dict2)
print(matching_keys)

['a']

In [145]:
# 77. Write a Python program to replace dictionary values with their average.

def replace(dict1):
    values = list(dict1.values())
    avg = sum(values) / len(values)
    for key in dict1:
        dict1[key] = avg
    return dict1

my_dict = {'a': 10, 'b': 15, 'c': 20}
updated_dict = replace(my_dict)
print(updated_dict)

TypeError: 'int' object is not callable

In [147]:
# 78. Write a Python program to create a dictionary from a string.

def create_dict(string):
    dictionary = {}
    for char in string:
        if char.isalpha():
            dictionary[char] = string.count(char)
    return dictionary


my_string = "python"
result_dict = create_dict(my_string)
print(result_dict)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [148]:
# 79.Write a Python function to convert a given list of integers into a comma-separated string.

def list_to_str(lst):
    string = ', '.join(str(num) for num in lst)
    return string


my_list = [1, 2, 3, 4, 5]
result_string = list_to_str(my_list)
print(result_string)

1, 2, 3, 4, 5

In [149]:
# 80. Write a Python program to find the largest and smallest elements in a given list of integers.

def find_larg(lst):
    largest = max(lst)
    smallest = min(lst)
    return largest, smallest


my_list = [1, 5, 2, 8, 3]
result_largest, result_smallest = find_larg(my_list)
print( result_largest)
print( result_smallest)

8
1

In [150]:
# 81. Write a Python function to calculate the area of a rectangle, given its length and width.

def calculate_rect(length, width):
    area = length * width
    return area

length = 5
width = 3
result_area = calculate_rect(length, width)
print( result_area)

15

In [151]:
# 82.Write a Python program to count the number of vowels in a given string.

def count_vow(string):
    vowels = 'aeiou'
    count = 0
    for char in string:
        if char.lower() in vowels:
            count += 1
    return count

my_string = 'python pro'
result_count = count_vow(my_string)
print( result_count)

2

In [152]:
# 83.Write a Python function to calculate the average of a given list of numbers.

def cal_avg(lst):
    if len(lst) > 0:
        average = sum(lst) / len(lst)
        return average
    else:
        return None

my_list = [1, 2, 3, 4, 5]
result_average = cal_avg(my_list)
print( result_average)

TypeError: 'int' object is not callable

In [153]:
# 84.Write a Python program to check if a given string is a valid email address.

import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False

my_email = 'khgduue@exam.com'
result_valid = is_valid_email(my_email)
print(result_valid)

True

In [154]:
# 85. Write a Python function to check if a given year is a leap year

def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False


year = 2020
if is_leap_year(year):
    print("is a leap year")
else:
    print( "not a leap year")

is a leap year

In [156]:
# 86. Write a Python program to find the factorial of a given number using recursion.

def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)

number = 5
fact = fact(number)
print(fact)

120

In [158]:
# 87. Write a Python function to find the sum of all odd numbers in a given range.

def sum_of_odd_num(start, end):
    total = 0
    for number in range(start, end + 1):
        if number % 2 != 0:
            total += number
    return total

start_num = 1
end_num = 20
sum_odd = sum_of_odd_num(start_num, end_num)
print(sum_odd)

100

In [159]:
# 88. Write a Python program to check if a given string is a palindrome or not, without using any built-in functions.

def is_palindrome(string):
    length = len(string)
    for i in range(length // 2):
        if string[i] != string[length - i - 1]:
            return False
    return True


my_string = "mmm"
if is_palindrome(my_string):
    print(" is a palindrome")
else:
    print(" is not a palindrome")

 is a palindrome

In [160]:
# 89. Write a Python function to reverse a given list of integers in place.

def reverse_list(lst):
    start = 0
    end = len(lst) - 1
    while start < end:
        lst[start], lst[end] = lst[end], lst[start]
        start += 1
        end -= 1

my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

In [161]:
# 90. Write a Python program to find the second smallest element in a given list of integers.

def find_second_small(lst):
    if len(lst) < 2:
        return None
    smallest = min(lst)
    second_smallest = float('inf')
    for num in lst:
        if num != smallest and num < second_smallest:
            second_smallest = num
    return second_smallest

# Example usage
my_list = [9, 4, 2, 7, 5]
second_smallest = find_second_small(my_list)
print(second_smallest)

4

In [162]:
# 91. Write a Python function to calculate the perimeter of a rectangle, given its length and width.

def rect_perimeter(length, width):
    return 2 * (length + width)


length = 5
width = 3
perimeter = rect_perimeter(length, width)
print(perimeter)

16

In [163]:
# 92.Write a Python program to remove all the vowels from a given string.

def remove_vowel(string):
    vowels = 'aeiouAEIOU'
    string_without = ''.join(char for char in string if char not in vowels)
    return string_without

# Example usage
my_string = 'Hello World'
result_string = remove_vowel(my_string)
print( result_string)

Hll Wrld

In [165]:
# 93.Write a Python function to calculate the median of a given list of numbers.

import statistics

def median(lst):
    median = statistics.median(lst)
    return median

my_list = [1, 2, 3, 4, 5]
result_median = median(my_list)
print( result_median)

3

In [166]:
# 94.Write a Python program to check if a given string is a valid URL.

import re

def is_valid_url(url):
    pattern = r'^https?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+$'
    if re.match(pattern, url):
        return True
    else:
        return False


my_url = 'https://www.amazon.com'
result_valid = is_valid_url(my_url)
print( result_valid)

Valid: True

In [167]:
# 95. Write a Python function to check if a given number is a perfect square

import math

def is_perfect_square(num):
    sqrt = math.sqrt(num)
    if sqrt.is_integer():
        return True
    else:
        return False

# Example usage
my_number = 16
perfect_square = is_perfect_square(my_number)
print(perfect_square)

True

In [168]:
# 96. Write a Python function to calculate the factorial of a number.

def factorial(number):
    fact = 1
    for i in range(1, number + 1):
        fact *= i
    return fact

my_number = 5
result_factorial = factorial(my_number)
print( result_factorial)

120

In [169]:
# 97. Write a Python program to check if a given number is prime or not

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if number % i == 0:
            return False
    return True


my_number = 7
result_prime = is_prime(my_number)
print( result_prime)

True

In [170]:
# 98. Write a Python function to reverse a string.

def reverse_str(string):
    return string[::-1]

# Example usage
my_string = "Hello, python"
reversed_string = reverse_str(my_string)
print(reversed_string)

nohtyp ,olleH

In [171]:
# 99. Write a Python program to find the sum of all the numbers in a list.

def sum_of_num(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

my_list = [1, 2, 3, 4, 5]
sum_numbers = sum_of_num(my_list)
print(sum_numbers)

15

In [172]:
# 100. Write a Python function to check if a given string is a palindrome or not.

def is_palindrome(string):
    reversed_string = string[::-1]
    if string == reversed_string:
        return True
    else:
        return False

my_string = "madam"
if is_palindrome(my_string):
    print(" is a palindrome")
else:
    print("is not a palindrome")

 is a palindrome

In [173]:
# 101. Write a Python program to sort a list of integers in ascending order.

def sort_list(lst):
    return sorted(lst)

my_list = [9, 4, 2, 7, 5]
sorted_list = sort_list(my_list)
print(sorted_list)

[2, 4, 5, 7, 9]

In [174]:
# 102. Write a Python function to find the maximum and minimum values in a list.

def find_max_min(lst):
    if len(lst) == 0:
        return None, None
    maximum = max(lst)
    minimum = min(lst)
    return maximum, minimum

# Example usage
my_list = [10, 4, 2, 7, 5]
max_value, min_value = find_max_min(my_list)
print(max_value)
print(min_value)

10
2

In [176]:
# 103. Write a Python program to remove duplicate values from a list.

def remove_dupli(lst):
    return list(set(lst))


my_list = [1, 2, 3, 2, 4, 1, 5]
unique_list = remove_dupli(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

In [177]:
# 104. Write a Python function to convert Celsius to Fahrenheit.

def celsius_to_fahre(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

celsius = 30
fahrenheit = celsius_to_fahre(celsius)
print( fahrenheit)

86.0

In [180]:
# 105.Write a Python program to find the second largest number in a list.

def find_second_largest(numbers):
    if len(numbers) < 2:
        return None
    largest = float('-inf')
    second_largest = float('-inf')
    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num
    if second_largest == float('-inf'):
        return None
    return second_largest

# Example usage
my_list = [1, 5, 2, 8, 3]
second_largest = find_second_largest(my_list)
print("Second largest:", second_largest)

Second largest: 5